.milestone{
    border-radius: 35px;
height: 50px;
width: 100%;
padding: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.milestone-range{
    color: #333;
text-align: right;
font-family: "Lato",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 88.889% */
}
.milestone-icon{
    position: absolute;
    color: #FFF;
font-family: "Lato",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
}

.milestone-name{
    display: flex;
    align-items: center;
    color: #333;
text-align: right;
font-family: "Lato",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 88.889% */
}