
.search-bar-opened {
    width: 830px;
    height: 68px;
    flex-shrink: 0;
    border-top-right-radius: 39px;
    border-top-left-radius: 39px;

    background-color: #FFF;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.search-bar-closed {
    width: 830px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 35px;

    background-color: #FFF;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
        padding-right: 20px;

    align-items: center;
}

.input-style {
    border-radius: 39px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    padding-left: 43px;
}

.input-style:focus {
    outline: none;

}







.data-result .data-item {
    display: flex;
    align-items: end;
    color: black;
    padding-left: 107px;
    font-size: 24px;
    text-decoration: none;
}

.data-item:hover {
    background-color: lightgrey;
  }

  .data-result {
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 39px;
    z-index: 9999;
    overflow-y: scroll;

}


  

  
 
.data-result-container{
    position: absolute;
    top: 580px;
    width: 830px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 39px;
    border-bottom-right-radius: 39px;
    z-index: 9999;
    max-height: 380px;
}





.data-result::-webkit-scrollbar {
    width: 7px;
    border-radius: 100vw;
  }
  
  .data-result::-webkit-scrollbar-track {
background: #F0F2F3;
    margin-block: 0.5em;
    border-radius: 100vw;

  }
  
  .data-result::-webkit-scrollbar-thumb {
background: var(--main-color);
    border-radius: 100vw;
  }
  
