.header-bar{
    list-style: none;
    color: white;
    display: flex;
    
}


.nav-text-style{
    color: #FFF;
text-align: center;
font-family: "Montserrat",sans-serif;
font-size: 1.25vw;
font-style: normal;
font-weight: 600;
line-height: 54px; 
cursor: pointer;
}

.navbar-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .nav-text-style {
        font-size: 20px; /* Set your desired minimum font size here */
    }
}