.homepage-footer{
height: 532px;
flex-shrink: 0;
width: 100%;
background: #001F3F;
margin-top: 150px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.nav-text{
    color: #FFF;
text-align: center;
font-family: "Montserrat",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
border-right: 2px solid white;
padding-right: 20px;
padding-left: 20px;
}

.footer-bar{
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    
}


.homepage-footer-container{
    transform: translate(0,-25%)
}

.homepage-copyrights-container{

}

.copyrights-text{
    color: #FFF;
text-align: center;
font-family: "Montserrat",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 54px; /* 300% */
}

.socialmedia-container *{
    margin-right: 20px;
}