.main-profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 100px;
}

.profile-images-container {
    width: 40%;
    display: flex;
    justify-content: end;
    flex-direction: row;

}

.profile-info-container {
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

}

.profile-main-image-container img {
    border-radius: 20px;
    width: 424px;
    height: 409px;
    flex-shrink: 0;
}

.profile-main-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.profile-secondary-images img {
    height: 120px;
    width: 120px;
    border-radius: 17px;
    margin-top: 34px;
}

.profile-secondary-images {
    display: flex;
    justify-content: space-between;
}

.profile-images-container svg {
    cursor: pointer;
    width: 50px;
    margin-top: 200px;
}

.profile-title {
    color: #001F3F;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    /* 135% */
}

.sup-text {
    transform: translate(0%, 30%);
    color: #66BB6A;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.claim-profile-button {
    width: 263px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 30px 0px;
    background: var(--main-color);

    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    cursor: pointer;
    /* 257.143% */

}

.social-media-block {
    display: flex;
    padding-bottom: 30px;
}



.icon-block {
    width: 26.911px;
    height: 26.911px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





.progress-bar-container{
    position: relative;
    width: 100%;
    background: white;
    border-radius: 7px;
    padding-bottom: 30px;
}



.container .progress-box {
    width: 100%;
}

.mini-title{
    display: block;
    text-align: start;
    font-size: 1.5vw;
    font-weight: 600;
    padding-bottom: 40px;
    color: #333;
}

.progress-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    background: rgba(0,0, 0, 0.1);
}

.progress-box .progress-per{
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    background: crimson;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}




@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.skill-bar .tooltips{
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: crimson;
    z-index: 1;
    transform: translate(0,-130%);
}



.tooltipsbefore {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: crimson;
    transform: translateX(-50%) rotate(45deg);
}




.milestones-container{
    width: 100%;
}

.button-container{
    width: 100%;
    display: flex;
}

.vote-buttons{
    width: 40%;
    display: flex;
    justify-content: end;
}


.donate-button{
    width: 58%;
    border-radius: 30px 0px;
background: #E53935;
height: 49px;
display: flex;
flex-direction: column;
justify-content: center;
color: #FFF;
text-align: center;
font-family: "Montserrat",sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
cursor: pointer;
}

.vote-button{
    width: 100%;
height: 48px;
border-radius: 45px;
display: flex;
flex-direction: column;
justify-content: center;
cursor: pointer;

}

.natty{
    background-color:#66BB6A;
margin-right: 22px;
}

.enhanced{
background-color: #E24C4B;
}

.vote-buttons-compact{
    display: flex;
    width: 520px;
}

.vote-button-text{
    color: #FFF;
text-align: center;
font-family: "Montserrat",sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 600;
}

.vote-button-number{
    color: #FFF;
font-family: "Lato",sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 500;
}

.additional-infos-container{
    width: 100%;
    padding: 0 calc(40% - 472px);
}

@media screen and (max-width: 1440px) {
    .tooltips {
        font-size: 15px !important; 
    }
    .profile-title{
        font-size: 40px !important; 
    }
    .skill-box .title{
        font-size: 24px !important; 
    }

}



