.user-card-myprofile{
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}

.edit-profile-container{
    background-color: white;
    display: flex;
    border-radius: 20px;
    width: 95%;
    padding: 30px;
    margin: 20px;

}


.credit-card-details{
    font-size: 20px;
}