
.search-bar-opened {
    width: 830px;
    height: 68px;
    flex-shrink: 0;
    border-top-right-radius: 39px;
    border-top-left-radius: 39px;

    background-color: #FFF;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.search-bar-closed {
    width: 830px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 35px;

    background-color: #FFF;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
        padding-right: 20px;

    align-items: center;
}

.input-style {
    border-radius: 39px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    padding-left: 20px;
}

.input-style:focus {
    outline: none;

}

.data-result {
    position: absolute;
    top: 590px;
    width: 830px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 39px;
    border-bottom-right-radius: 39px;

}





.data-result .data-item {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: end;
    color: black;
    padding-left: 70px;
    font-size: 24px;
    text-decoration: none;


  }

.data-item:hover {
    background-color: lightgrey;
  }

  .data-result .data-item:last-child{
    width: 100%;
    height: 68px;
    display: flex;
    color: black;
    padding-left: 70px;
    font-size: 24px;
    text-decoration: none;


  }