
.big-chat-container{
    font-family: "Montserrat",sans-serif;
    display: flex;
    height: 700px;
    width: 100%;
    padding: 50px;
}

.chats-container{
    width: 30%;
    border: 1px var(--main-color) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singlechat-container{
    width: 70%;
    border: 1px var(--main-color) solid;
}

.chat-container{
    font-family: "Montserrat",sans-serif;
    border-radius: 5px;
    background-color: gainsboro;
    font-size: 16px;
    padding: 10px 10px 5px 10px;
    color: var(--main-color);
    width: 90%;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    font-weight: lighter;
    text-align: start;
    margin: none;
}

.chat-title{
    font-size: 30px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: var(--main-color);
    text-align: start;
}

.main-messages-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.messages-content{
    max-height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    
}
.sending-message{
    height: 10%;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.sending-button{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.input-container{
    width: 73%;
    height: 100%;
    border-radius: 10px;
    border: 1px var(--main-color) solid;
  }

  input{
    color: black;
  }

.received-message{
    background-color: var(--main-color);
    max-width: 90%;
    padding: 10px;
    text-align: start;
    border-radius: 10px;
}

.sent-message{
    background-color: var(--main-color);
    max-width: 90%;
    padding: 10px;
    text-align: start;
    border-radius: 10px;
}

.scroll{
    padding: 10px;
}
.scroll::-webkit-scrollbar {
    width: 7px;
  }
  
  .scroll::-webkit-scrollbar-track {
background: #F0F2F3;
    margin-block: 0.5em;

  }
  
  .scroll::-webkit-scrollbar-thumb {
background: var(--main-color);
    border-radius: 100vw;
  }
  

  .online-dot{
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 10px;
    margin-left: 5px;
  }

  .current-chat{
    height: 50px;
    border-bottom: 1px var(--main-color) solid;
    padding: 10px;
    display: flex;
    color: var(--main-color);
    align-items: center;
    justify-content: space-between;
  }

  .send-contract-button{
    height: 40px;
    border-radius: 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .contract-block{
    width: 90%;
    background-color: white;
    border: 2px green solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    color:black
  }

  .contract-input{
    border-radius: 10px;
    border: 1px green solid;

  }

  .react-datepicker-ignore-onclickoutside{
    border-radius: 20px;
  }

  .react-datepicker__input-container input{
    border-radius: 10px;
border: 1px green solid;
  }

  .star {
    cursor: pointer;
  }
  
  .star.selected {
    color: gold;
  }
  
  .star:hover {
    color: gold; /* Change color on hover */
  }
  
  .star:hover ~ .star {
    color: gold; /* Change color of previous stars on hover */
  }
  .comment-box{
   height: 100px;
   border: 1px solid var(--main-color);
   width: 50%;
   border-radius: 20px;
   font-size: 15px;
   margin-left: 10px;
  }